<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutme</title>
</head>
<body>
    <body background="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/abstract-pink-backgrounds-jimacollectionrf.jpg">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
        <p><B>I am Muskan Shah, a student pursuing Bachelor's of Technology in Computer Science and Engineering at Sikkim Manipal Institute Of Technology.</B></p>
        <p>I was born and raised in Siliguri,West Bengal.</p>
        <p>I have always been passionate about technology. Besides, I have always liked reading books, painting and journaling.  </p>
        <p>I am currently an Marketing Intern at IAESTE CI SMU.</p>
        <p>With a fervent passion for technology and its boundless possibilities, I'm on a mission to explore the ever-evolving world of computer science.
        </center>
</body>
</html>