<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <br>
    <br>
    <center>
    <p><b><em>Feel free to contact me!I'm always available to bounce thoughts around and collaborate.</em></b></p>
    <div> <body background="https://t3.ftcdn.net/jpg/00/94/36/28/240_F_94362843_biZCQkVNDC5fGnaCgmoXv9QvmSqxDhxe.jpg"></body></div>
    <a href="https://www.instagram.com/muskanshah04/" style="color: rgba(107, 57, 73, 0.842);" target="_blank">Instagram:muskanshah04</a><br>
    <a href="muskanshahofficial@gmail.com">Email:muskanshahofficial</a><br>
    <a href="https://in.linkedin.com/in/muskan-shah-772277289">LinkedIn:Muskan Shah</a></center>
</body>
</html>